@use '../../main'
  
.container
  margin: 0 27px 0

.back_arrow
  margin-right: 11px
  color: main.$font-color-dark-grey

.back_link
  text-decoration: underline

  &:hover
    text-decoration: none
  
.content_container
  padding: 41px 0 85px

.van_img
  margin-bottom: 50px
  border-radius: 5px

.van_name
  margin-top: 23px
  margin-bottom: 10px

.van_price
  margin-bottom: 10px

.van_description
  margin-bottom: 22px


